:root{
    --primarycolor : rgb(17, 175, 223);
    --bg-color :  rgb(34, 33, 33);
    --section-color :rgb(239, 242, 245);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 90%;
    max-width: 1024px;
    margin: 0 auto; 
}

img {
    width: 100%;
    height: 100%;

}

/* header section */

header {
   padding: 20px 0px; 
   position: fixed;
   right: 0px;
   left: 0px;
   background-color: white;
   z-index: 10;

}
header .logo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;

}
header .logo span {
    color: var(--primarycolor);
}
header .container {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

nav ul {
   list-style: none;
   display: flex;

}

nav ul li {}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 0px 20px;
    transition: .3s;
}

nav ul li a:hover{
    color: var(--primarycolor)
}

/* burger munu  */

.check {
    display: none;
}
.menu {
    display: none;
    font-size: 40px;
    color: var(--primarycolor);
   
  
   
    cursor: pointer;
}


@media (max-width : 768px){
    nav{
        display: none;

    }
    .menu {
        display: block;
        position: absolute;
        right: 30px;
        top:20px;

    }

     .check:checked  +  nav{
        display: block;
        position: absolute;
        top: 80px;
        left: 0px;
        width: 100%;
        background-color: rgb(255, 255, 255);
    }

     nav ul {
        flex-direction: column;
    }
    nav ul li {
        padding: 10px 0px;
        margin-bottom: 1px;
        border-bottom:1px solid var(--primarycolor);
        transition: .3s;
    }
    nav ul li:hover{
        padding-left: 4px;
    }
}
/* burger menu */


/* header section  */

/* main section  */
.main{
    height: 100vh ;
    background-image: url(images/PicsArt_11-01-11.46.35.jpg);
    background-size: cover;
    
}

.main .container {
    position: relative;
    height: 100%;
}
.main .content {
    position: absolute;
    color: white;
    top:40%;
    left: 251px;
    transform: translateX(-50%);
    padding: 30px;
    border-top: 4px solid white;
    border-left: 4px solid;
}

@media (min-width:480px) and (max-width:768px){
   .main .content {
      left: 238px;
      top:30%;
   }
   
}
@media (max-width :480px){
   .main .content {
      left: 160px;
      top:20%;
   }
}
.main .content .name {
    letter-spacing: 10px;
    font-size: 30px;
}

.main .content .job {
   font-size: 40px ;
   margin-top: 30px;
   letter-spacing: 4px;
}

.main .content button {
   margin-top:30px;
   padding: 10px 40px;
   font-size:30px;
   color:var(--primarycolor);
   border-radius: 10px;
   font-weight: bold;
   transition: .3s;
   cursor: pointer;
}

.main .content button:hover{
   background-color: var(--primarycolor);
   color: white;
   transform: scale(1.07);
}

/* main section */

/* start Main heading  */
.main-heading {
    margin: 0 auto;  
    padding: 60px 0px;
    color: var(--primarycolor);
    font-size:30px;
    position: relative;
    width: fit-content;
}
.main-heading h1 {
    
}
.main-heading h1::before{
content: "";
position: absolute;
width: 15px;
height: 15px;
background-color: var(--primarycolor);
top: 50%;
left: -30px;
border-radius: 50%;
}  

.main-heading h1::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--primarycolor);
    top: 50%;
    right: -30px;
    border-radius: 50%;
    } 
    
 
    @media (max-width : 480px){
        .main-heading {
            font-size: 20px;
        }
    }
    
/* end Main heading  */

/* education  section*/
 
 .education {
    background-color: var(--section-color);
    padding: 50px 0px;
 } 

 .education .container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    
 }

 .education .container .card {
    width: 40%;
    border-radius: 5%;
    overflow: hidden;
    box-shadow: 4px 4px  10px rgb(173, 172, 172);
    transition: .3s;
 }
 .education .container .card .image {
    height: 60%;
 }
 .education .container .card:hover{
    transform: scale(1.05);
 }
 .education .container .card h3 ,h4{
    margin-bottom: 8px;
 }

 .education .container .text{
    padding:10px;
 }
 @media (max-width:500px){
    .education .container {
        flex-direction: column;
        gap: 20px;
    }
    .education .container .card {
        width: 100%;
    }
   
 }
/* education section  */

/*start skills*/
.skills{
    padding-top: 50px;
    background-color: var(--section-color);
}
.skills .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .skills .container .tech,
 .skills .container .skill{
   flex-basis: 45%;
 }
 @media(max-width:768px){
   .skills .container{
    flex-direction: column;
   }
 }
 .skills .container  .head{
   text-align: center;
   margin-bottom: 60px;
 }

 .skills .container .tech .box{
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
 }
 @media(max-width:768px){
   .skills .container .tech .box{
     flex-direction: column;
     align-items: center;
   }
   .skills .container .tech .box .text p:first-child{
      text-align: center;
   }
 }
 .skills .container .tech .box  img{width: 100px;  height: 100px;border-radius: 50%;}

 .skills .container .tech .box .text p:first-child{
   padding-right: 20px;
   line-height: 1.6;
 }
 .skill-content .box{
   margin-bottom: 30px;
 }
 .skill-content .box .bar {
   width: 100%;
   height: 40px;
   background-color: #aaa;
   border-radius: 10px;
   
 }
 .skill-content .box .bar div{
   background-color: var(--primarycolor);
   height: inherit;
   position: relative;
   border-radius: 10px;
 }
 .skill-content .box .bar div::before{
   content: attr(data-progress);
   position: absolute;
   right: -25px;
   top: -41px;
    animation: move 1s linear 0s infinite alternate; 
   width: 50px;
   height: 20px;
   background-color: black;
   color: white;
   text-align: center;
   padding-top: 5px;
   border-radius: 5px;
 }
 .skill-content .box .bar div::after{
   content: "";
   position: absolute;
   right: -10px;
   top: -15px;
   animation: move 1s linear 0s infinite alternate; 
   border-width: 10px;
   border-style: solid;
   border-color: #000000 transparent transparent transparent;
   border-radius: 3px;
 }
 @keyframes move {
   from{transform: translateY(-4px); }
   to{transform: translateY(4px);}
 }
 /*end skills*/

 /* start certificate */
 .certificate{
    background-color: var(--section-color);
    padding: 50px 0px;
 }

 .certificate .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(245px , 1fr) );
    gap: 10px;
 }

 .certificate .container .cert {
    
    border-radius: 5%;
    overflow: hidden;
    box-shadow: 4px 4px  10px rgb(173, 172, 172);
    transition: .3s;
    
 }



 /* end certificate */

 /* start language  */
 .language {
    padding:30px 0px;
    background-color: var(--section-color);
    
 }

 .language .container {
    display: flex;
    justify-content: space-around;
 }

 .language .container div {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    width: 45%;
    transition: .3s;
 }
 .tech-content .box{
   transition: .3s;
 }
 .tech-content .box:hover{
   box-shadow: 5px 5px 10px gray ;
 }
 .tech-content .box img{
   transition:.3s ;
 }
 .tech-content .box:hover img {
   transform: rotate(180deg);
 }
 @media (max-width:480px){
    .language .container {
        flex-direction: column;
        gap: 20px;
    }
    .language .container div {
        width: 100%;
    }
}
 .language .container div h2 {
    margin-bottom: 20px;
 }
 .language .container div p{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 80%;
 }

 .language .container div p progress{
    
 }
 /* end language  */

 /* strat ref section  */
 .refernce {
    background-color: var(--section-color);
    padding: 50px 0px;
 } 

 .refernce .container {
    display: flex;
    justify-content:space-around ;
    
 }

 .refernce .container .card {
    width: 40%;
    border-radius: 5%;
    overflow: hidden;
    box-shadow: 4px 4px  10px rgb(173, 172, 172);
    transition: .3s;
    height: 400px;
 }
 .refernce .container .card .image {
    height: 70%;
    padding:20px 60px;
    overflow: hidden;
    
 }
 .refernce .container .card .image img {
    border-radius:20px;
 }
 .refernce .container .card:hover{
    transform: scale(1.05);
 }
 .refernce .container .card h3 ,h4{
    margin-bottom: 8px;
 }

 .refernce .container .text{
    padding:10px;
    text-align: center;
 }
 @media (max-width:480px){
    .refernce .container {
        flex-direction: column;
        gap: 20px;
    }
    .refernce .container .card {
        width: 100%;
    }
   
 }
 /* end ref section  */

 /* start footer  */
 footer {
    padding: 20px 0px;
    background-color: #272525;
 }

 footer .container {
    display:  flex;
    justify-content: space-evenly;
 }

 footer .container h2 {
    color: white;
    margin-bottom: 10px;
 }

 footer .container a {
    color: white;
    text-decoration: none;
    transition: .3s;
    
 }
   
 footer .container div {text-align: center;}
 footer .container div span {
    font-size: 30px;
    color: white;
 }
 footer .container .social a{
    font-size: 30px ;
    margin-right: 20px;
}
 footer .container a:hover {
    color: var(--primarycolor);
 }

 @media (max-width :500px){
    footer .container {
        flex-direction: column;
        gap:50px;
    }
 }
 /* end footer  */